{% extends 'base.html' %}

{% block scripts %}
  <script>
    // Code to search view list - https://makitweb.com/how-to-live-search-on-the-html-table-with-jquery/
    $(document).ready(function(){
      $('#sUsername').keyup(function(){ 
        var input = $(this).val();
        
        // Hide all rows
        $('.view-table tbody tr').hide();

        // Show each row that contains the input
        var len = $('table tbody td:nth-child(1):contains("' + input + '")').length;
        if(len > 0){
          $('.view-table tbody td:contains("' + input + '")').each(function(){
            $(this).closest('tr').show();
          });
        };
      });
      $('#sReason').keyup(function(){ 
        var input = $(this).val();
        
        // Hide all rows
        $('.view-table tbody tr').hide();

        // Show each row that contains the input
        var len = $('table tbody td:nth-child(2):contains("' + input + '")').length;
        if(len > 0){
          $('.view-table tbody td:contains("' + input + '")').each(function(){
            $(this).closest('tr').show();
          });
        };
      });
      $('#sAuthor').keyup(function(){ 
        var input = $(this).val();
        
        // Hide all rows
        $('.view-table tbody tr').hide();

        // Show each row that contains the input
        var len = $('table tbody td:nth-child(3):contains("' + input + '")').length;
        if(len > 0){
          $('.view-table tbody td:contains("' + input + '")').each(function(){
            $(this).closest('tr').show();
          });
        };
      });
    });

    // Case in-sensitive search
    $.expr[":"].contains = $.expr.createPseudo(function(arg) {
      return function( elem ) {
        return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
      };
    });
  </script>
{% endblock %}

{% block content %}
  <h2 class="label-main">Shared Lists</h2>
  <div class="sharedUsers">
    <h1>Shared Users</h1>
    <table>
    <tr>
      <form action="/lists/shared/{{listDetails[0]}}/share/add" method="POST">
        <th class="sTH"><input id="aUsername" name="userName" type="text" placeholder="Add User"><button type="submit" style="float:right; height:30px">&#10133</button>
        </th>
      </form>
    </tr>

    {% for username, id in sharedUsersDetails.items() %}
    <tr>
      <td class="sharedUser">{{username}}<a href="{{ url_for('lists.removeUserFromShareList', listID=listDetails[0], userName=username) }}" style="float:right">&#128686</a></td>
    </tr>
    {% endfor %}

    </table>
  </div>
  <label class="label-main"><a href="{{ url_for('lists.deleteList', listID=listDetails[0]) }}" onclick="return confirm('Are you sure you want to delete this list?');">&#128686</a> ~ {{ listDetails[1] }} ~ {{data|length}} items</label>
  <table class="view-table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Reason</th>
        <th>Added By</th>
      </tr>

      <tr>
        <th class="sTH"><input id="sUsername" type="text" placeholder="Search"></th>
        <th class="sTH"><input id="sReason" type="text" placeholder="Search"></th>
        <th class="sTH"><input id="sAuthor" type="text" placeholder="Search"></th>
      </tr>

      <tr>
        <th class="empty"><hr color="#0099ff" size="10" width="100%"></th>
        <th class="empty"><hr color="#0099ff" size="10" width="100%"></th>
        <th class="empty"><hr color="#0099ff" size="10" width="100%"></th>
      </tr>
  </thead>
    
  <tbody>
    {% for username,details in data.items() %}
    <tr>
      <td><a class="deleteRecord" href="{{ url_for('lists.deleteEntry', listType='shared', entryID=details[2], listID=listDetails[0]) }}" onclick="return confirm('Are you sure you want to delete this entry?');">&#128686</a><a href="{{ url_for('main.search', username=username) }}">{{username}}</a></td>
      <td>{{details[0]}}</td>
      <td>{{details[1]}}</td>  
    </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}