{% extends 'base.html' %}

{% block title %}Dodge List LoL{% endblock %}

{% block scriptsHead %}
  <script>
    // Format input depending on user input. 
    function formatInput(input) {
      var finalLine = input // For manual type
      // For direct copy paste from game
      if (input.includes("joined the lobby")) {
        var tempLine = input.replace(/joined the lobby/g, "-");
        finalLine = tempLine.substring(0, tempLine.length - 1);
      }
      document.getElementById('username').value = finalLine;
    }

    function buttonDisable() {
	  if(document.getElementById("username").value==="") { document.getElementById('search-button').disabled = true; } 
    else { document.getElementById('search-button').disabled = false; }
    }
  </script>
  <script type="text/javascript">
    function loading(){
        $("#loading").show();
        $("#content").hide();       
    }
  </script>
{% endblock %}

{% block content %}
  <div class="row text-center d-grid gap-4 position-absolute top-50 start-50 translate-middle">
    <h1 class="header">Dodge List for League of Legends</h1>
    <img class="rounded mx-auto d-block w-50" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    <br><br>
    <h2 class="label-main">Search Player/s Stats</h2>
    <br><br>
    <form method="POST" action="/search">
        <div class="row mb-3">
          <input type="text" class="form-control" aria-label="Username/s" id="username" name="username" onChange="formatInput(this.value)" onkeyup="buttonDisable();" placeholder="Enter Username/s (Supports 'joined lobby' Format)" autofocus></textarea>
        <label><p class="text-muted">Only OC1 (OCE) region is currently supported.</p></label>
        </div>
        <button type="submit" class="btn btn-primary w-10" id="search-button" onclick="loading();" disabled>Search</button>
      </form> 
  </div>
{% endblock %}