{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
    {% if summoners|length != 0 %}
    <div class="row justify-content-center">
      {% for username,user_info in summoners.items() %}
        <div class="card border-secondary mx-2" style="width: 20rem;">
          <table class="table table-hover">
            <thead>
              <tr>
                <td><img width=45px src="http://ddragon.leagueoflegends.com/cdn/{{gameVersion}}/img/profileicon/{{ user_info['icon'] }}.png"></span></td>
                <td><a class="f-1 text-decoration-none" href="https://oce.op.gg/summoner/userName={{username}}" target="_blank">{{ username }} <img src="{{ url_for('static', filename='opgg.png') }}" width="25" alt="OP.GG Link"></a></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dodge:</td>
                <td>{{ user_info['dodge'] }} - <a href="{{ url_for('main.addPlayer', username=username) }}">Add</a></td>
              </tr>
              <tr>
                <td>W-L (Season):</td>
                <td>{{ user_info['soloWins'] }} - {{ user_info['soloLosses'] }}</td>
              </tr>
              <tr>
                <td>W/R (20 Games):</td>
                <td>{{ user_info['winRate'] }}</td>
              </tr>
              <tr>
                <td>Solo:</td>
                <td>{{ user_info['solo'] }}</td>
              </tr>
              <tr>
                <td>Flex:</td>
                <td>{{ user_info['flex'] }}</td>
              </tr>
              <tr>
                <td>Level:</td>
                <td>{{ user_info['level'] }}</td>
              </tr>
              <tr>
                <td>Best Champs:</td>
                <td>
                  {% for champName in user_info['bestChamps'] %}
                    <img width=30px src="http://ddragon.leagueoflegends.com/cdn/{{gameVersion}}/img/champion/{{champName}}.png" title="{{champName}}">
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <td>Worst Champs:</td>
                <td>
                  {% for champName in user_info['worstChamps'] %}
                    <img width=30px src="http://ddragon.leagueoflegends.com/cdn/{{gameVersion}}/img/champion/{{champName}}.png" title="{{champName}}">
                  {% endfor %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
    {% endif %}
{% endblock %}